
    body
    {
        margin: 0;
    }
    
    nav
        {
            background-color:lightblue;
        }
     nav:after
     {
        content:'';
        display:block;
        clear:both;

     }
       

        .logo, .menu
        {
            display: inline-block;
        }

        .logo
        {
          
           margin: 20px;
           
        }

        .menu
        {   
            float:right;
            margin-top: 20px;
            

        }
        .menu ul{
            list-style: none;
            padding-left: 0px;
            margin: 0;
        }

        .menu ul li{
           display:inline-block;
           margin-right: 20px;
        }

        .menu ul li a
        {
            text-decoration: none;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 10px;
            padding-right: 10px;
            
        }

        .menu ul li a:hover 
        {
            background-color: blue;
            color: white;
            transition:all 0.5s ease;
        }

        header{
            background-image: url(../img/IMG_2293.jpg);
            height: 800px;
            
            background-size:contain;
            background-repeat: no-repeat;
            background-attachment: fixed;
           
        }

        header p{
            margin:0;
            
            }
            .hero-container
            {
                text-align: center;
                text-align: right;
                
                text-decoration-style: none;
                padding-right: 10px;
                
            }

            .btn-work
            {
                background-color:greenyellow;
                color:white;
                display: inline-block;
                padding:10px 25px;
                margin: 2px ;
                border-radius: 20px;
                text-decoration: none;

            }

            .btn-contact
            {
                background-color: greenyellow;
                color: white;
                display:inline-block;
                padding:10px 25px;
                border-radius: 20px;
                text-decoration: none;
                
            }

            .btn-work:hover
            {
                background-color: white;
                color: greenyellow;
                transition: all 0.5s ease;

            }
            .btn-contact:hover
            {
                background-color: white;
                color: greenyellow;
                transition: all 0.5s ease;

            }

            .about-me
            {
                width:100%;
                padding-top: 70px;
                padding-bottom: 70px;
                
                
            }

            .about-me:after{
                content:'';
                display: block;
                clear:both;
            }

            .about-me h2{
                color: #333;
                text-align: center;
                text-transform:uppercase;
                position: relative;
                margin-bottom: 30px;
            }

            .about-me h2:after{
                content: '';
                position: absolute;
                width: 80px;
                height: 2px;
                margin-left: -40px;
                left: 630px;
                bottom: 0px;
                background-color: greenyellow;

            }

            .about-me .col-left
            {
                width: 50%;
                float: left;
            }

            .about-me .col-left img
            {
                max-width:100%;
            }

            

            .about-me a{
                background-color: aquamarine;
                padding: 10px 25px;
                text-decoration: none;
                color:white;
                border-radius: 20px;
                font-size: 17px;
                display: inline-block;
                font-size: 17px;
                border: 1px solid greenyellow;
            }

            .about-me a:hover{
                background-color: white;
                color:greenyellow;
            }
            
            .about-me .col-left
            {
                padding-left: 5%;
                padding-right: 5%;
            }

            .example
            {
                width: 100%;
                
                height: 300px;
            }

            .example .box
            {
                width: 150px;
                height: 150px;
                background-color: red;
                position: absolute;
            }

            .about-me .col-right
            {
               margin-right: 50px;
               right: 0;
               top:30px;
               
        
               
            }

            .column-3 
            {
                text-align: center;
                background-color: gainsboro;
                padding-bottom: 20px;
            }

           
            
            